<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="PersistanceStrategy" value="EF" />
  </appSettings>
<connectionStrings>
  <add name="QLVanPhongEntities" connectionString="metadata=.\Domain\QLVanPhong.csdl|.\Domain\QLVanPhong.ssdl|.\Domain\QLVanPhong.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\QLVanPhong.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
       providerName="System.Data.EntityClient" />
<add name="Connection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\DoAnHQT-CNPM\MyProject\MyProject\NewProject\MyProject\QLVanPhong.mdf;Integrated Security=True;Connect Timeout=30"/>
</connectionStrings>
</configuration>
